.btn-sop{
  width:250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 390px) {
    .container {
        padding-left: 15px;
        padding-right: 15px; 
        margin-left: 15px;
        margin-right: 100px;
      }
      #container-admin{
        margin-right: 20px;
        padding-left: 100px;
      }
      #btn-sop{
        width: 550px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
}
@media screen and (max-width: 768px) {
  .button {
    width: 550px;

  }
}


@media screen and (max-width: 390px) {
  .button {
   
  }
}
